@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
/* header css starts */
header{
    width: 1000px;
    margin: 0 auto;
    /* border: 1px solid tomato; */
}
.banner{
 
    /* border: 2px solid green; */
    display: flex;
}
.banner-child{
    width: 50%;
    /* border: 1px solid rebeccapurple; */
}
.banner-child img{
    width: 100%;

}



.banner-title{
    font-size: 3.7rem;
    font-weight: 700;
    color: rgba(87, 87, 87, 1);
}
.banner-text{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(130, 130, 130, 1);
}
.banner-btn{
    border: none;
    border-radius: 100px;
    padding: 22px 43px;
    background:linear-gradient(0deg,rgba(251, 162, 79, 1),rgba(255, 30, 30, 1)) ;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}
/* header css ends */

/* main css starts */
/* about css starts */
.about{
    width: 1000px;
    margin: 0 auto;
    /* border: 1px solid tomato; */
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(252, 143, 73, 0.1);
}
.about-child{
    width: 45%;
    /* border: 1px solid green; */
  
}
.ill{
    padding: 200px 0;
}
.about-child img{
    width: 100%;
    object-fit: cover;
}
.about-title{
    font-size: 2.5;
    font-weight: 700;
    color: rgba(112, 112, 112, 1);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about-text{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(24, 25, 31, 1);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* about css ends */

/* cook css starts */
.cook{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid tomato;
    margin-top: 100px;
}
.cook-title{
    font-size: 2.2rem;
    font-weight: 700;
    color: rgba(103, 103, 103, 1);
    text-align: center;
}
.container{
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
}
.card{
    width:40%;
    border: 2px solid red;
}
.card img{
    width: 100%;
}
.card-title{
    font-size: 1.7rem;
    font-weight: 800;
    color: rgba(24, 25, 31, 1);
}
/* cook css ends */


/* main css ends */
